<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donations Widget - Background</title>
    <script src="
https://cdnjs.cloudflare.com/ajax/libs/rivets/0.8.1/rivets.bundled.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='css/donations.css' rel='stylesheet' type='text/css'>
    <script src="js/donations.js" type="text/javascript"></script>
</head>
<body>
  <div id="donors">
    <span id="donate_text">DONAT<span id="donate_text_last">E</span></span>

    <span id="donate_link">{ data.donationLink }</span>

    <div id="donation-container">
    </div>
    <div class="gradient">
    </div>
    <div class="gradient phase">
    </div>
  </div>
</body>
</html>
