<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Raised</title>
    <script src="
https://cdnjs.cloudflare.com/ajax/libs/rivets/0.8.1/rivets.bundled.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <style>
        body {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          line-height: 1.5em;
        }
    </style>
    <script>
      /*global rivets,numeral*/
      'use strict';
      var data = {
        teamRaised: ''
      };

      var teamRaised = nodecg.Replicant('team-raised', { defaultValue: 0 });
      var componentTextColor = nodecg.Replicant('component-text-color', { defaultValue : '#ffffff' });
      var fontSizes = nodecg.Replicant('font-sizes', { defaultValue : {
        gameName: 24,
        nextGame: 10,
        streamName: 18,
        donationLink: 18,
        timer: 26,
        streamRaised: 24,
        streamTotal: 24,
        teamRaised: 24,
        teamTotal: 24,
        donations: 18
      }});

      teamRaised.on('change', function(oldVal, newVal) {
        data.teamRaised = numeral(newVal).format('$0,0.00');
      });

      data.teamRaised = numeral(teamRaised.value).format('$0,0.00');

      componentTextColor.on('change', function(oldVal, newVal) {
        $('body').css('color', newVal);
      });
      
      $('body').css('color', componentTextColor.value);

      fontSizes.on('change', function(oldVal, newVal) {
        $('body').css('font-size', newVal.teamRaised + 'px');
      });

      $('body').css('font-size', fontSizes.value.teamRaised + 'px');

      $(document).ready(function() {
        rivets.bind($('body'), { data: data });
      });
    </script>
</head>
<body>
  <div>{ data.teamRaised }</div>
</body>
</html>
